.CardDetailContainer {
  display: grid;
  grid-gap: 0.2rem;

  padding: 0.5rem 0.9rem;
  width: 100%;
  max-width: 35rem;
  margin-left: 50px;
  margin: 1.2rem auto;

  .NoImage {
    margin: auto;
    width: 100%;
    height: auto;
  }

  .DetailTitle {
    text-align: center;
    border-radius: 0.2rem;
    height: 2.5rem;
    padding: 0.1rem;
    margin-bottom: 0.5rem;
    color: black;
    font-weight: 400;
    font-size: 22px;
    box-shadow: 1px 1px 3px #828788;
  }

  .Download {
    margin: 1rem 30%;
    background-color: #d5dbdb;
    text-align: center;
    box-shadow: 1px 1px 5px #828788;
    border-radius: 0.2rem;
    height: 2.5rem;
    font-weight: 600;
    font-size: 1.2rem;
    cursor: pointer;
  }

  .base64Image {
    margin: auto;
    width: 100%;
    height: auto;
  }

  a {
    color: black;
    text-decoration: none;
    vertical-align: middle;
    margin-top: 0.1rem;
  }
}
