.login-background {
  height: 100vh;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(249, 217, 70, 1) 100%
  );
  font-family: "Rubik", sans-serif;

  .container {
    display: grid;
    grid-template-columns: auto 45% auto;
    grid-gap: 0.8rem;
    padding-bottom: 0.9rem;

    img {
      grid-column: 2;
      height: 15rem;
      justify-self: center;
      margin-bottom: 2rem;
    }

    span {
      grid-column: 2;
      font-size: 30px;
      font-weight: 800;
    }

    .subtitle {
      grid-column: 2;
      font-size: 13px;
      font-weight: 200;
    }

    button {
      grid-column: 2;
      margin-top: 1.5rem;
      background-color: #000;
      border: none;
      color: white;
      height: 2.5rem;
      width: 100%;
      font-size: 16px;
      font-family: "Rubik", sans-serif;
      cursor: pointer;
    }

    input {
      grid-column: 2;
      font-family: "Roboto", sans-serif;
      color: #333;
      width: 100%;
      font-size: 0.8rem;
      grid-column: 2;
      padding: 1rem 1rem;
      border: none;
      display: block;
    }

    .warning{
      color: red;
      text-align: center;
      font-size: small;
      font-weight: 200;
    }
  }
}
